/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
.loader {
  display: none;
}
.loader.visible {
  display: block;
  /* Стилі з css-loader */
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery li {
  flex: 1 1 300px;
}
.gallery img {
  width: 100%;
  height: auto;
}
